{
    "Version": 1,
    "TimePriority": "",
    "Ports": [
        {
            "AddrSubnet": "<AddrSubnet>",
            "Dhcp": 1,
            "DnsServers": [
                "<DnsServers>"
            ],
            "Cost": 0,
            "Gateway": "<Gateway>",
            "IfName": "eth0",
            "Name": "Management1",
            "IsMgmt": true,
            "NetworkProxyEnable": false,
            "NetworkProxyURL": "",
            "NtpServer": "",
            "Pacfile": "",
            "Proxies": null
        }
    ]
}